body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

body {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.wrapper {
  box-sizing: border-box;
  padding: 0 30px;
  max-width: 1220px;
  margin: 0 auto;
}
@media screen and (max-width: 990px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media screen and (max-width: 460px) {
  .wrapper {
    padding: 0 10px;
  }
}

.image-container {
  background-image: url("./../../assets/panda_bg.png");
  background-size: cover;
  width: 100%;
  height: 385px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 1220px) {
  .image-container {
    height: 390px;
    background-position: 30%;
  }
}
@media screen and (max-width: 800px) {
  .image-container {
    height: 335px;
    background-position: 37%;
  }
}
@media screen and (max-width: 460px) {
  .image-container {
    height: 187px;
    background-position: 34%;
  }
}

.header, .footer {
  width: 100%;
  background-color: #000000;
  position: relative;
  z-index: 2;
}

.header-container, .footer-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 800px) {
  .header-container, .footer-container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .header-container .logo-container {
    border: none;
    margin: 2.5px 0px;
    width: 46.86px;
    height: 29.03px;
    border: none;
    padding: 0px;
  }
}
@media screen and (max-width: 800px) {
  .header-container .logo-container .logo {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12.2899px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    color: rgb(243, 243, 243);
  }
}

.footer-container .logo-container {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.footer-container {
  padding-top: 37px;
  padding-bottom: 50px;
}
@media screen and (max-width: 800px) {
  .footer-container {
    padding: 13px 20px;
  }
}
@media screen and (max-width: 460px) {
  .footer-container {
    padding: 20px 10px;
  }
}

.logo-container {
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin: 14px 63px 14px 0px;
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-decoration: none;
}

.logo {
  margin: 0;
  grid-column: 1/span 4;
  grid-row: 1/span 2;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.bamboo {
  grid-column: 1;
  grid-row: 2;
  background-image: url("./../../assets/bamboo.svg");
  background-repeat: no-repeat;
  margin-left: 6px;
}

.navigation-container {
  width: 87.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .navigation-container {
    display: none;
  }
}

.navigation-list {
  position: relative;
  display: inline-flex;
  justify-items: center;
  flex-flow: row wrap;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: start;
  color: #FFFFFF;
  gap: 58px;
  padding: 0;
  margin: 29px 0px;
}
@media screen and (max-width: 1150px) {
  .navigation-list {
    gap: 48px;
  }
}
@media screen and (max-width: 800px) {
  .navigation-list {
    gap: 37px;
  }
}
@media screen and (max-width: 460px) {
  .navigation-list {
    gap: 30px;
  }
}
.navigation-list li a {
  text-decoration: none;
  color: white;
}
.navigation-list li a:hover {
  color: #FE9013;
}
.navigation-list li .active {
  color: #FE9013;
}

.figma-link {
  width: minmax(105px, 10.3%);
  align-self: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 29px;
  margin-bottom: 29px;
}
.figma-link a {
  color: #FFFFFF;
  text-decoration: none;
}
.figma-link a:hover {
  color: #FE9013;
}

.feedback-button, .donate-button {
  position: relative;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 180px;
}
.feedback-button:hover, .donate-button:hover {
  cursor: pointer;
  background: linear-gradient(#E47209, #E47209);
}
.feedback-button:active, .donate-button:active {
  background: linear-gradient(#4B9200, #4B9200);
}
@media screen and (max-width: 1220px) {
  .feedback-button, .donate-button {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 990px) {
  .feedback-button, .donate-button {
    margin: 0px auto 140px;
  }
}

.footer-wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
@media screen and (max-width: 800px) {
  .footer-wrapper {
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 460px) {
  .footer-wrapper {
    max-width: 300px;
  }
}
.footer-wrapper .logo-footer {
  margin: 0;
  grid-row: 1/span 2;
  grid-column: 1;
}
@media screen and (max-width: 460px) {
  .footer-wrapper .logo-footer {
    grid-row: 1;
    place-self: start center;
  }
}
.footer-wrapper .donate-button {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 101px;
  grid-row: 4/span 2;
  grid-column: 1/span 5;
}
@media screen and (max-width: 1220px) {
  .footer-wrapper .donate-button {
    margin-top: 14px;
  }
}
@media screen and (max-width: 990px) {
  .footer-wrapper .donate-button {
    margin: 10px 0px 0px;
  }
}
@media screen and (max-width: 800px) {
  .footer-wrapper .donate-button {
    grid-row: 2/span 3;
    margin: 0 0 10px;
    place-self: center start;
  }
}
@media screen and (max-width: 460px) {
  .footer-wrapper .donate-button {
    grid-row: 3/span 2;
    grid-column: 1;
    place-self: start center;
    margin-top: 10px;
  }
}

.footer-container .logo-container {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 460px) {
  .footer-container .logo-container {
    width: 128px;
    height: 23px;
    padding: 0;
    border: none;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .footer-container .logo-container .logo {
    grid-row: 1;
    grid-column: 1/11;
  }
  .footer-container .logo-container .bamboo {
    grid-row: 1;
    grid-column: 7;
    margin: 0;
    margin-right: 7px;
  }
}

.subscription-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 85px;
  grid-row: 1/span 4;
  grid-column: 15/span 5;
  place-self: start end;
  margin-left: 15px;
}
@media screen and (max-width: 1220px) {
  .subscription-section {
    margin-top: 5px;
    margin-right: 32px;
  }
}
@media screen and (max-width: 990px) {
  .subscription-section {
    grid-column: 7/14;
    margin-right: 0;
    place-self: start end;
  }
}
@media screen and (max-width: 800px) {
  .subscription-section {
    display: none;
  }
}
.subscription-section .subscription-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: start;
  color: #FFFFFF;
}
.subscription-section .subscription-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 14px;
}
.subscription-section .subscription-form input[type=email] {
  box-sizing: border-box;
  width: 228px;
  height: 42px;
  border-radius: 2px;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: start;
  color: #bdbdbd;
  border: 0.7px solid #FE9013;
  padding: 10px;
}
.subscription-section .subscription-form input[type=email]:focus:valid {
  outline: none;
  border: 0.7px solid #4B9200;
  color: #4B9200;
}
.subscription-section .subscription-form input[type=email]:focus:valid + input[type=submit] {
  border-color: #4B9200;
  color: #4B9200;
}
.subscription-section .subscription-form input[type=email]:focus:invalid {
  outline: none;
  color: #D31414;
  border-color: #D31414;
}
.subscription-section .subscription-form input[type=email]:focus:invalid + input[type=submit] {
  border: 1px solid #D31414;
  color: #D31414;
}
.subscription-section .subscription-form input[type=submit] {
  width: 129px;
  height: 42px;
  margin-left: 10px;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333B41;
}
.subscription-section .subscription-form input[type=submit]:hover, .subscription-section .subscription-form input[type=submit]:active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.801);
}

.networks-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-row: 7/span 4;
  margin: 2px 0;
}
@media screen and (max-width: 800px) {
  .networks-section {
    grid-row: 1/5;
    grid-column: 13/span 1;
  }
}
@media screen and (max-width: 460px) {
  .networks-section {
    place-self: start center;
    flex-direction: row;
    grid-row: 2;
    grid-column: 1;
    gap: 30px;
  }
}
.networks-section .network {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: start;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-bottom: 10px;
  align-items: center;
}
@media screen and (max-width: 1220px) {
  .networks-section .network {
    gap: 12px;
  }
}
@media screen and (max-width: 800px) {
  .networks-section .network {
    place-self: end start;
    padding-bottom: 20px;
  }
}
.networks-section .network:hover {
  color: #E47209;
}
.networks-section .network:hover .network-icon {
  background-color: #E47209;
}
.networks-section .network:active {
  color: #4B9200;
}
.networks-section .network:active .network-icon {
  background-color: #4B9200;
}
.networks-section .network-icon {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .networks-section .network-name {
    display: none;
  }
}

.navigation-footer {
  margin-right: 19px;
  grid-column: 5/16;
  grid-row: 10;
  height: 30px;
  align-self: start;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: start;
  color: #000000;
}
.navigation-footer .navigation-list {
  margin: 0;
}
@media screen and (max-width: 1220px) {
  .navigation-footer {
    margin-right: 0px;
    margin-left: 40px;
    grid-column: 4/17;
    place-self: start;
  }
}
@media screen and (max-width: 990px) {
  .navigation-footer {
    margin-right: 0px;
    margin-left: 25px;
    grid-column: 2/10;
    place-self: center end;
  }
}
@media screen and (max-width: 800px) {
  .navigation-footer {
    margin-right: 0px;
    margin-left: 0px;
    grid-row: 6/7;
    grid-column: 1/8;
    place-self: start;
  }
}
@media screen and (max-width: 460px) {
  .navigation-footer {
    margin-right: 0px;
    margin-left: 0px;
    grid-row: 6;
    grid-column: 1;
    place-self: end center;
  }
}

.created {
  grid-column: 17/span 3;
  grid-row: -3/span 2;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 190%;
  text-align: start;
  color: #FFFFFF;
  place-self: center end;
}
@media screen and (max-width: 1220px) {
  .created {
    place-self: center end;
    padding-left: 25px;
  }
}
@media screen and (max-width: 990px) {
  .created {
    grid-column: 10/span 4;
  }
}
@media screen and (max-width: 800px) {
  .created {
    grid-column: 10/span 4;
    grid-row: 5/span 2;
  }
}
@media screen and (max-width: 630px) {
  .created {
    grid-column: 1/span 4;
    grid-row: 4/span 2;
    place-self: center start;
    padding-left: 0;
  }
}
@media screen and (max-width: 460px) {
  .created {
    margin-top: 0px;
    grid-column: 1;
    grid-row: 4/span 2;
    place-self: end;
  }
}

.main-section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.main-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 1220px) {
  .main-section-title {
    padding-right: 172px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 800px) {
  .main-section-title {
    font-size: 24px;
    line-height: 120%;
    padding: 30px 0 20px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 460px) {
  .main-section-title {
    font-size: 24px;
    line-height: 120%;
    padding: 30px 0 20px;
    margin-bottom: 0;
  }
}

.main-section-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  letter-spacing: 0.02px;
  margin-bottom: 42px;
}
@media screen and (max-width: 1220px) {
  .main-section-text {
    line-height: 140%;
    font-weight: 500;
  }
}
@media screen and (max-width: 800px) {
  .main-section-text {
    font-size: 16px;
    line-height: 22.4px;
    margin: 0;
  }
}

.main-section-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  padding-bottom: 60px;
  margin-bottom: 0;
}
@media screen and (max-width: 1220px) {
  .main-section-subtitle {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 800px) {
  .main-section-subtitle {
    margin: 30px 0;
    padding: 0;
  }
}
@media screen and (max-width: 630px) {
  .main-section-subtitle {
    font-size: 35px;
  }
}
@media screen and (max-width: 460px) {
  .main-section-subtitle {
    font-size: 24px;
    margin: 25px 0;
  }
}

.inner-block {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 40px 92px 62px;
  margin-bottom: 180px;
}
@media screen and (max-width: 1220px) {
  .inner-block {
    padding: 20px 44px 45.98px 47px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  .inner-block {
    padding: 27px 0 28px;
    margin-bottom: 46px;
  }
}
@media screen and (max-width: 460px) {
  .inner-block {
    padding: 27px 0 15px;
    margin-bottom: 22px;
  }
}

.inner-block-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}
@media screen and (max-width: 1220px) {
  .inner-block-header {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 630px) {
  .inner-block-header {
    font-size: 40px;
  }
}
@media screen and (max-width: 460px) {
  .inner-block-header {
    font-size: 24px;
  }
}

.inner-block-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}
@media screen and (max-width: 1220px) {
  .inner-block-text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 800px) {
  .inner-block-text {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  .inner-block-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 460px) {
  .inner-block-text {
    font-size: 16px;
    margin-top: 10px;
  }
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 55px;
  margin-top: 60px;
}
@media screen and (max-width: 1220px) {
  .images-container {
    margin-top: 62px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 800px) {
  .images-container {
    margin-top: 50px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 630px) {
  .images-container {
    gap: 0px;
  }
}
@media screen and (max-width: 460px) {
  .images-container {
    margin-right: 0;
    margin-top: 0;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 330px) {
  .images-container {
    justify-content: space-between;
  }
}

.panda-image {
  background-image: url("./../../assets/panda_widget1.png");
  width: 284px;
  height: 246px;
  margin-right: 40px;
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .panda-image {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 630px) {
  .panda-image {
    width: 160.15px;
    height: 138.72px;
    background-size: cover;
    margin-right: 10px;
  }
}
@media screen and (max-width: 460px) {
  .panda-image {
    background-image: url("./../../assets/panda_widget1.svg");
    background-position: right;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.panda-meals {
  width: 224px;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (max-width: 1220px) {
  .panda-meals {
    gap: 10px;
  }
}
@media screen and (max-width: 800px) {
  .panda-meals {
    margin-top: 15px;
  }
}
@media screen and (max-width: 630px) {
  .panda-meals {
    max-width: 170px;
  }
}
@media screen and (max-width: 460px) {
  .panda-meals {
    justify-content: space-between;
    max-width: 100px;
    height: auto;
    margin-top: 45px;
    margin-left: 0px;
  }
}

.meals-number-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.meals-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333B41;
  margin-bottom: 27px;
  margin-right: 5px;
}
@media screen and (max-width: 630px) {
  .meals-text {
    font-size: 12.02px;
  }
}
@media screen and (max-width: 460px) {
  .meals-text {
    font-size: 9.02px;
  }
}

.number {
  margin-left: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
}
@media screen and (max-width: 630px) {
  .number {
    margin-left: 45px;
    font-size: 55.6px;
  }
}
@media screen and (max-width: 460px) {
  .number {
    font-size: 40.6px;
    margin-left: 30px;
  }
}

.multiplication {
  margin-left: 65px;
  transform: rotate(50deg);
  font-size: 32px;
  font-weight: 800px;
  margin-bottom: 5px;
}
@media screen and (max-width: 630px) {
  .multiplication {
    margin-left: 45px;
  }
}
@media screen and (max-width: 460px) {
  .multiplication {
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.donation-bar {
  position: relative;
  box-sizing: border-box;
  margin: 5px auto;
  padding: 0 10px;
  width: 100%;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 1220px) {
  .donation-bar {
    padding: 0 0px;
    width: 95.5%;
  }
}
@media screen and (max-width: 800px) {
  .donation-bar {
    width: 100%;
    padding: 0 17px;
  }
}
@media screen and (max-width: 630px) {
  .donation-bar {
    width: 100%;
    padding: 0 19px;
  }
}
@media screen and (max-width: 460px) {
  .donation-bar {
    margin: 30px 0 10px;
    height: 12px;
    padding: 0 10px;
  }
}

.donation-bar::before {
  content: "Amount";
  position: absolute;
  top: -40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  color: black;
}
@media screen and (max-width: 800px) {
  .donation-bar::before {
    top: -26px;
    left: 10px;
  }
}
@media screen and (max-width: 460px) {
  .donation-bar::before {
    left: 0;
  }
}

.selection-bar {
  margin: auto;
  width: 94%;
  height: 2px;
  background: #72828E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 2.5%;
}
@media screen and (max-width: 1220px) {
  .selection-bar {
    width: 96.2%;
    left: 2%;
  }
}
@media screen and (max-width: 800px) {
  .selection-bar {
    width: 89%;
    left: 5.5%;
    top: 45%;
  }
}
@media screen and (max-width: 630px) {
  .selection-bar {
    width: 84.5%;
    left: 7.7%;
    top: 45%;
  }
}
@media screen and (max-width: 460px) {
  .selection-bar {
    width: calc(100% - 38px);
    left: 19px;
    top: 5px;
  }
}

.step {
  cursor: pointer;
  bottom: 7px;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5 linear;
}
.step:nth-child(4) {
  display: none;
}
@media screen and (max-width: 1220px) {
  .step:nth-child(4) {
    display: flex;
  }
}
@media screen and (max-width: 800px) {
  .step:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 1220px) {
  .step:nth-child(3) {
    display: none;
  }
}
.step:hover .step-mark {
  transform: scale(1.1);
  background-color: #E47209;
}
@media screen and (max-width: 460px) {
  .step {
    width: 20px;
    height: 20px;
    top: -30%;
  }
}

.step-mark {
  background: #FFEE2E;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 460px) {
  .step-mark {
    width: 5px;
    height: 5px;
  }
}

.step-active {
  border-radius: 50%;
  border: 1px solid #FE9013;
}

.step-radius {
  border-radius: 50%;
  width: 22.95px;
  height: 22.95px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 460px) {
  .step-radius {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 1220px) {
  .small-desktop-absent {
    display: none;
  }
}

@media screen and (min-width: 1221px) {
  .large-desktop-absent {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .tablet-absent {
    display: none;
  }
}

.price-bar {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1220px) {
  .price-bar {
    margin: 4px 17px;
  }
}
@media screen and (max-width: 800px) {
  .price-bar {
    width: 97%;
  }
}
@media screen and (max-width: 460px) {
  .price-bar {
    width: 95%;
    margin: 10px;
  }
}

.price-item {
  padding-top: 10px;
  margin-bottom: 50px;
  width: 71px;
  height: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
}
@media screen and (max-width: 1220px) {
  .price-item {
    width: 72px;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 800px) {
  .price-item {
    width: 68px;
  }
}
@media screen and (max-width: 460px) {
  .price-item {
    font-size: 13px;
    height: 18px;
    width: 30px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.price-selected {
  color: #FE9013;
}

.price-input {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-left: 9px;
  padding-right: 20px;
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 2px;
  background: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  background-image: url(./../../assets/dollar.svg);
  background-repeat: no-repeat;
  background-position: 248px;
  margin-bottom: 24px;
}
@media screen and (max-width: 800px) {
  .price-input {
    width: 180px;
    height: 42px;
    background-position: 160px;
    padding-left: 6px;
  }
}
@media screen and (max-width: 460px) {
  .price-input {
    margin: 23px auto 15px;
  }
}
.price-input:focus {
  border: 1px solid #929699;
  outline: none;
}
.price-input:valid {
  border: 1px solid #4B9200;
  color: #4B9200;
  background-image: url(./../../assets/dollar_green.svg);
}
.price-input:invalid:focus {
  border: 1px solid #D31414;
  color: #D31414;
  background-image: url(./../../assets/dollar_red.svg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.payment-section {
  position: relative;
  margin: 0 auto;
  width: 268px;
  gap: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1220px) {
  .payment-section {
    width: 218px;
    gap: 38px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .payment-section {
    margin-top: 31px;
  }
}
@media screen and (max-width: 460px) {
  .payment-section {
    margin-top: 25px;
  }
}
.payment-section .payment-item {
  width: 84px;
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-self: flex-end;
  cursor: pointer;
}
.payment-section input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.payment-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #FE9013;
  border-radius: 100%;
  background: transparent;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: #4B9200;
  border: 1px solid #4B9200;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  transition: all 0.2s ease;
}

[type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.feed-friend-button {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 31px auto;
}
.feed-friend-button:hover {
  cursor: pointer;
  background: linear-gradient(#E47209, #E47209);
}
.feed-friend-button:active {
  background: linear-gradient(#4B9200, #4B9200);
}

.section-note {
  margin-bottom: 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
@media screen and (max-width: 800px) {
  .section-note {
    font-size: 15.9px;
  }
}

@media screen and (min-width: 801px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile-header {
    display: block;
    position: fixed;
    z-index: 10;
  }
}

@media screen and (max-width: 800px) {
  .burger-icon {
    display: inline-block;
    right: 13px;
    top: 11px;
    position: fixed;
    z-index: 110;
    cursor: pointer;
  }
  .burger-icon .burger-element, .burger-icon .burger-element, .burger-icon .burger-element {
    width: 18px;
    height: 2px;
    border: none;
    background-color: white;
    margin: 2px 0;
    transition: 0.4s;
  }
}

.open {
  z-index: 111;
  cursor: pointer;
}
.open .burger-element:nth-child(2) {
  opacity: 0;
}
.open .burger-element:first-child {
  background-color: black;
  transform: translate(0, 5px) rotate(-45deg);
}
.open .burger-element:last-child {
  background-color: black;
  transform: translate(0, -3px) rotate(45deg);
}

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.overlay-visible {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5137254902);
  z-index: 100;
  transition: all 0.4s;
}

.burger-menu {
  box-sizing: border-box;
  display: none;
}
@media screen and (max-width: 800px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    background-color: white;
    padding: 10px;
    z-index: 101;
    transition: all 0.5s ease-in-out;
  }
  .burger-menu__opened {
    top: 0;
    transform: translateY(0);
  }
  .burger-menu .navigation-container {
    display: flex;
  }
  .burger-menu .navigation-container .navigation .navigation-list {
    margin: 30.4px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }
  .burger-menu .navigation-container .navigation .navigation-list li a {
    color: black;
    line-height: 140%;
  }
}
.burger-menu .logo-container {
  border: 1px solid #FE9013;
  box-sizing: border-box;
  width: 65.6px;
  height: 41.6px;
  padding: 1.9px;
  margin: 0;
}
.burger-menu .logo-container .logo {
  color: #FE9013;
  font-size: 15.21px;
}
.burger-menu .logo-container .bamboo {
  background-image: url("./../../assets/bamboo_orange.svg");
}/*# sourceMappingURL=index.css.map */