$blackcolor: #000000;
$orangecolor: #FE9013;
$yellowcolor: #FFEE2E;
$darkorange: #E47209;
$green: #4B9200;
$orangeGradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$darkorangecolor: linear-gradient(#E47209, #E47209);
$greencolor: linear-gradient(#4B9200, #4B9200);

@mixin button {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    background: $orangeGradient;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background: $darkorangecolor;
    }

    &:active {
        background: $greencolor;
    }
}

@mixin flexbox($direction: row, $main: center, $cross: center, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
    flex-wrap: $wrap;
}

body {
     background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.wrapper {
    box-sizing: border-box;
    padding: 0 30px;
    max-width: 1220px;
    margin: 0 auto;
}

.image-container {
    background-image: url("./../../assets/panda_bg.png");
    background-size: cover;
    width: 100%;
    height: 385px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header, .footer {
    width: 100%;
    background-color: $blackcolor;
}

.header-container, .footer-container {
    width: 100%;
    position: relative;
    @include flexbox($main: flex-start, $wrap: nowrap);
}

.footer-container {
    padding-top: 41px;
    padding-bottom: 50px;
}

.logo-container {
    box-sizing: border-box;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin: 14px 63px 14px 0px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-decoration: none;
    &:hover {
        border: 1px solid $orangecolor;
        transform: scale(1.1);
    }
}
    .logo {
        margin: 0;
        grid-column: 1 / span 4;
        grid-row: 1 / span 2;
        text-align: center;
        vertical-align:middle;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;

    &:hover {
        color: $orangecolor;
    }
    }

    .bamboo {
        grid-column: 1;
        grid-row: 2;
        background-image: url("./../../assets/bamboo.svg");
        background-repeat: no-repeat;
        margin-left: 6px;
    }

    .navigation-container {
        width: 87.5%;
        @include flexbox($main: space-between);
    }

    .navigation-list {
        position: relative;
        display: inline-flex;
        justify-items: center;
        flex-flow: row wrap;
        list-style-type: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        padding: 0;
        margin: 29px 0px;

        li {
            padding-right: 58px;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: $orangecolor;
                }
            }
        }

            .active {
            color: $orangecolor;
            }
    }

    .figma-link {
        width: minmax(105px, 10.3%);
        align-self: flex-end;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        margin-top: 29px;
        margin-bottom: 29px;

        a {
            color:#FFFFFF;
            text-decoration: none;

            &:hover {
                color: $orangecolor;
            }
        }
    }

.feedback-button, .donate-button {
        text-decoration: none;
        @include button();
        border-radius: 5px;
        margin-bottom: 180px;
    }

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(10, 1fr);

    .logo-footer {
        margin: 0;
        grid-row: 1 / span 2;
        grid-column: 1;
}

    .donate-button {
        margin-top: 12px;
        margin-bottom: 0px;
        margin-right: 101px;
        grid-row: 4 / span 2;
        grid-column: 1 / span 5;
    }
}

.subscription-section {
    @include flexbox($direction: column, $main: flex-start, $cross: flex-start);
    height: 85px;
    grid-row: 1 / span 4;
    grid-column: 15 / span 5;
    place-self: start center;
    margin-left: 15px;

    .subscription-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: white;
    }

    .subscription-form {
        @include flexbox($main: flex-start, $cross: flex-start, $wrap: nowrap);
        margin-top: 14px;

        input[type="email"] {
            box-sizing: border-box;
            width: 228px;
            height: 42px;
            border-radius: 2px;
            background-color: #000000;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #BDBDBD;
            border: 0.7px solid $orangecolor;
            padding: 10px;

            &:focus:valid {
                outline: none;
                border: 0.7px solid #4B9200;
                color: #4B9200;
            }

            &:focus:valid + input[type="submit"] {
                border-color: #4B9200;
                color: #4B9200;
            }

            &:focus:invalid {
                outline: none;
                color: #D31414;
                border-color: #D31414;
            }

            &:focus:invalid + input[type="submit"] {
                border: 1px solid #D31414;
                color: #D31414;
            }
        }

        input[type="submit"] {
            width: 129px;
            height: 42px;
            margin-left: 10px;
            background: #F1F3F2;
            border: 1px solid #4B9200;
            border-radius: 5px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #4B9200;

            &:hover, &:active {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.801);
        }

        }
}
}

.networks-section {
    @include flexbox($direction: column, $main: flex-start, $cross: flex-start);
    grid-row: 7 / span 4;
    margin-top: 1px;

    .network {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        column-gap: 10px;
        padding-bottom: 10px;
        align-items: center;

        &:hover {
            color: $darkorange;
        }

        &:hover .network-icon {
            background-color: $darkorange;
        }

        &:active {
            color: $green;
        }

        &:active .network-icon {
            background-color: $green;
        }

    }

    .network-icon {
        border-radius: 50%;
        width:26px;
        height: 26px;
        background: rgba(196, 196, 196, 0.5);
        @include flexbox();
    }

}

.navigation-footer {
    margin-right: 35px;
    grid-column: 6 / span 10;
    grid-row: 10;
    height: 30px;
    place-self: end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    .navigation-list {
        margin: 0;
    }
}

.created {
    grid-column: 17 / span 3;
    grid-row: -3 / span 2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    place-self: center end;
}

.main-section {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.main-section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

.main-section-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.02px;
    margin-bottom: 42px;
}

.main-section-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.inner-block {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 62px;
    margin-bottom: 180px;
}

.inner-block-header {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}

.inner-block-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #333B41;
}

.images-container {
    @include flexbox();
    gap: 55px;
    margin-top: 60px;
}

.panda-image {
    background-image: url("./../../assets/panda_widget1.png");
    width: 284px;
    height: 246px;
    margin-right: 40px;
    margin-bottom: 80px;
}

.panda-meals {
    width: 224px;
    height: 246px;
    @include flexbox($direction: column);
    gap: 15px;
}

.meals-number-block {
    @include flexbox($cross: flex-end);
}

.meals-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
    margin-bottom: 27px;
    margin-right: 5px;
}

.number {
    margin-left: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 5px;
}

.multiplication {
    margin-left: 65px;
    transform: rotate(50deg);
    font-size: 32px;
    font-weight: 800px;
    margin-bottom: 5px;
}

.donation-bar {
    position: relative;
    box-sizing: border-box;
    margin: 5px auto;
    padding: 0 10px;
    width: 100%;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    @include flexbox($main: space-between, $cross: flex-start);
}

.selection-bar {
    margin: auto;
    width: 94%;
    height: 2px;
    background: #72828E;
    @include flexbox($main: space-between, $cross: center);
    position: absolute;
    top: 50%;
    left: 2.5%;
}

.step {
    cursor: pointer;
    bottom: 7px;
    position: relative;
    border-radius: 50%;
    background-color: transparent;
    width: 40px;
    height: 40px;
    @include flexbox();
    transition: all 0.5 linear;

    &:hover {
        transform: scale(1.1);
    }
}

.step-mark {
    background: #FFEE2E;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.step-active {
    border-radius: 50%;
    border: 1px solid #FE9013;
}

.step-radius {
    border-radius: 50%;
    width: 22.95px;
    height: 22.95px;
    background-color: transparent;
    @include flexbox();
}

.price-bar {
    margin-top: 6px;
    width: 100%;
    @include flexbox($main: space-between, $cross: flex-end)
}

.price-item {
    padding-top: 10px;
    margin-bottom: 50px;
    width: 71px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
}

.price-selected {
    color: #FE9013;
}

.price-input {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-left: 9px;
    padding-right: 20px;
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    background-image: url(./../../assets/dollar.svg);
    background-repeat: no-repeat;
    background-position: 248px;
    margin-bottom: 24px;

    &:focus {
        border: 1px solid #929699;
        outline: none;
    }

    &:valid:focus {
        border: 1px solid #4B9200;
        color: #4B9200
    }

    &:invalid:focus {
        border: 1px solid #D31414;
        color: #D31414
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.payment-section {
    position: relative;
    margin: 0 auto;
    width: 268px;
    gap: 38px;
    @include flexbox();

    .payment-item {
        width: 84px;
        height: 21px;
        @include flexbox();
        gap: 10px;
        justify-self: flex-end;
        cursor: pointer;
    }

    input {
         position: absolute;
         z-index: -1;
         opacity: 0;
}
}

.payment-type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 100%;
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #4B9200;
    border: 1px solid #4B9200;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.feed-friend-button {
    @include button();
    margin: 31px auto;
}

.section-note {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}