$blackcolor: #000000;
$orangecolor: #FE9013;
$yellowcolor: #FFEE2E;
$darkorange: #E47209;
$green: #4B9200;
$orangeGradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$darkorangecolor: linear-gradient(#E47209, #E47209);
$greencolor: linear-gradient(#4B9200, #4B9200);

@mixin button {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    background: $orangeGradient;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background: $darkorangecolor;
    }

    &:active {
        background: $greencolor;
    }
}

@mixin flexbox($direction: row, $main: center, $cross: center, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
    flex-wrap: $wrap;
}

@mixin robotoFont($weight: 400, $height: 120%, $size: 16px, $align: center, $color: #FFFFFF) {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    text-align: $align;
    color: $color;
}

body {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}


.wrapper {
    box-sizing: border-box;
    padding: 0 30px;
    max-width: 1220px;
    margin: 0 auto;

    @media screen and (max-width: 990px) {
        padding: 0 20px;
    }

    @media screen and (max-width: 630px) {
        padding: 0 10px;
    }
}

.image-container {
    background-image: url("./../../assets/GiantPanda.png");
    background-size: cover;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 15;

    @media screen and (max-width: 1150px) {
        background-image: url("./../../assets/background.png");
        background-size: 117%;
        background-position: center;
    }

    @media screen and (max-width: 450px) {
        height: 220px;
        background-repeat: no-repeat;
        background-size: 117%;
        background-position: top;
    }
}


.header, .footer {
    width: 100%;
    background-color: $blackcolor;
    position: relative;
    z-index: 2;
}


.header-container, .footer-container {
    width: 100%;
    position: relative;
    @include flexbox($main: flex-start, $wrap: nowrap);
    z-index: 2;


        @media screen and (max-width: 800px) {
            justify-content: space-between;
    }
}

.header-container {
    .logo-container {
        @media screen and (max-width: 800px) {
            border: none;
            margin: 2.5px 0px;
            width: 46.86px;
            height: 29.03px;
            border: none;
            padding: 0px;
    }

    .logo {
        @media screen and (max-width: 800px) {
            @include robotoFont($size: 12.2899px);
            color: rgb(243, 243, 243);
        }
    }
}
}

.footer-container {
    padding-top: 37px;
    padding-bottom: 50px;

    @media screen and (max-width: 800px) {
        padding: 10px 20px;
    }

    @media screen and (max-width: 450px) {
        padding: 20px 10px;
    }
}

.logo-container {
    box-sizing: border-box;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin: 14px 63px 14px 0px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-decoration: none;
}
    .logo {
        margin: 0;
        grid-column: 1 / span 4;
        grid-row: 1 / span 2;
        vertical-align:middle;
        @include robotoFont($size: 19.0145px);
    }

    .bamboo {
        grid-column: 1;
        grid-row: 2;
        background-image: url("./../../assets/bamboo.svg");
        background-repeat: no-repeat;
        margin-left: 6px;
    }

    .navigation-container {
        width: 87.5%;
        @include flexbox($main: space-between);

            @media screen and (max-width: 800px) {
                display: none;
            }
    }

    .navigation-list {
        position: relative;
        display: inline-flex;
        justify-items: center;
        flex-flow: row wrap;
        list-style-type: none;
        @include robotoFont($weight: 500, $height: 140%, $align: start);
        gap: 58px;
        padding: 0;
        margin: 29px 0px;

            @media screen and (max-width: 1150px) {
                gap: 48px;
            }

            @media screen and (max-width: 800px) {
                gap: 37px;
            }

            @media screen and (max-width: 450px) {
                gap: 30px;
            }

        li {
            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: $orangecolor;
                }
            }
        }


        li:nth-child(1) {
            a {
            color: $orangecolor;
            }
        }
    }

    .figma-link {
        width: minmax(105px, 10.3%);
        align-self: flex-end;
        @include robotoFont($weight: 500, $height: 140%, $align: start);
        margin-top: 29px;
        margin-bottom: 29px;

        a {
            color:#FFFFFF;
            text-decoration: none;

            &:hover {
                color: $orangecolor;
            }
        }
    }

.watch-online-section {
    position: relative;
    @include flexbox($direction: column, $main: flex-end, $cross: flex-end);
    width: 100%;
    padding-top: 86px;
    z-index: 1;

    @media screen and (max-width: 1150px) {
        padding-top: 42.8px;
        padding-right: 85.75px;
    }

    @media screen and (max-width: 990px) {
        padding-top: 48.04px;
        padding-right: 14.77px;
    }

    @media screen and (max-width: 450px) {
        padding: 41px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

.label-area-container {
    padding-right: 8px;
    @include flexbox($direction: column, $main: center, $cross: center);
    z-index: 10;

    @media screen and (max-width: 800px) {
        padding-right: 0px;
        width: 100%;
        @include flexbox($direction: row-reverse, $main: space-between, $cross: flex-end);
    }

    @media screen and (max-width: 630px) {
        padding-right: 0px;
        width: 100%;
        @include flexbox($direction: column, $main: space-between, $cross: flex-end);
    }
}

.watch-text {
    position: relative;
    margin-bottom: 60px;
    @include robotoFont($weight: 700, $height: 75%, $size: 106.496px);
    text-transform: uppercase;
    z-index: 10;

    @media screen and (max-width: 1500px) {
        font-size: 85.72px;
    }

    @media screen and (max-width: 1150px) {
        margin-bottom: 40.2px;
    }

    @media screen and (max-width: 990px) {
        font-size: 70.42px;
        margin-bottom: 86.57px;
    }

    @media screen and (max-width: 800px) {
        font-size: 54.42px;
        margin-bottom: 86.57px;
        margin-right: 5px;
    }

    @media screen and (max-width: 630px) {
        font-size: 34.42px;
        margin-bottom: 30px;
        margin-right: 25px;
    }

    @media screen and (max-width: 450px) {
        font-size: 27.21px;
        // margin: 41px;
        margin-bottom: 63.39px;
        margin-right: 13px;
        line-height: 77%;
    }


    .accent {
        color: $yellowcolor;
    }
}

.watch-text::before {
    content: "";
    display: inline-block;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    position: absolute;
    bottom: 9px;
    right: 100px;
    z-index: -1;

    @media screen and (max-width: 1500px) {
        bottom: 6.8px;
        right: 83.25px;
        width: 367px;
        height: 367px;
    }

    @media screen and (max-width: 990px) {
        bottom: 4.6px;
        right: 55.34px;
        width: 300px;
        height: 300px;
    }

    @media screen and (max-width: 800px) {
        width: 237.6px;
        height: 237.6px;
    }

    @media screen and (max-width: 630px) {
        width: 179.09px;
        height: 179.09px;
        bottom: -5px;
        right: 10px;
    }

    @media screen and (max-width: 450px) {
        width: 119.09px;
        height: 119.09px;
        bottom: 2.31px;
        right: 25px;
    }

}

.watch-button {
    @include button();
    margin-bottom: 100px;
    z-index: 20;

    @media screen and (max-width: 1500px) {
        margin-bottom: 47px;
    }

    @media screen and (max-width: 800px) {
        margin-bottom: 40px;
    }

    @media screen and (max-width: 450px) {
        margin: 0 auto 40px;
    }
}

.section2-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 0;

@media screen and (max-width: 990px) {
        padding-bottom: 0px;
    }

@media screen and (max-width: 800px) {
        padding-bottom: 0px;
    }

    @media screen and (max-width: 450px) {
        margin-top: 104px;
    }
}

.flower-element {
    width: 205px;
    height: 605px;
    background-image: url("./../../assets/flower_foto1.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 2%;
    border: none;

    @media screen and (max-width: 1500px) {
        display: none;
    }

    @media screen and (max-width: 990px) {
        display: block;
        bottom: -15%;
        width: 185px;
        height: 476px;
        background-image: url("./../../assets/flower_foto1_999.png");
        background-position: top right;
        overflow: hidden;
    }

    @media screen and (max-width: 800px) {
        top: -1%;
    }

    @media screen and (max-width: 630px) {
        right: -8%;
        top: -3%;
    }

    @media screen and (max-width: 450px) {
        height: 210px;
        right: -8%;
        top: 4.5%;
        background-size: contain;
    }
}

.section2-container {
    margin-top: 140px;
    @include flexbox();
    display: grid;
    grid-template-columns: 610px 1fr;
    position: relative;
    z-index: 1;
    padding-bottom: 178px;

            @media screen and (max-width: 1220px) {
                margin-top: 98px;
                grid-template-columns: 455px 1fr;
                padding-bottom: 140px;
            }

            @media screen and (max-width: 990px) {
                margin-top: 98px;
                grid-template-columns: 1fr;
            }

            @media screen and (max-width: 800px) {
                margin-top: 60px;
                padding-bottom: 0px;
            }

            @media screen and (max-width: 630px) {
                margin-top: 20px;
            }

            @media screen and (max-width: 450px) {
                margin-top: 0px;
            }

    .hat-man {
        grid-column: 1;
        background-image: url(./../../assets/bamboo-cap.png);
        background-position: cover;
        background-repeat: no-repeat;
        width: 610px;
        height: 403px;

            @media screen and (max-width: 1220px) {
                width: 455px;
                height: 410px;
                background-position: center;
                background-size: cover;
            }

            @media screen and (max-width: 990px) {
                display: none;
            }

    }

    .hat-man-text {
        z-index: 0;
        grid-column: 2;
        @include robotoFont($weight: 400, $height: 120%, $size: 16px, $align: start, $color: $blackcolor);
        margin-left: 87px;

        @media screen and (max-width: 1220px) {
            margin-left: 31px;
        }

        @media screen and (max-width: 990px) {
            margin-right: 125px;
        }

        @media screen and (max-width: 800px) {
            margin: 0px 105px 0px 0px;
        }

        @media screen and (max-width: 630px) {
            margin-right: 70px;
        }

        @media screen and (max-width: 450px) {
            margin-right: 5px;
        }


        .hat-man-title {
            @include robotoFont($height: 120%, $size: 48px, $align: start, $color: $blackcolor);
            margin: 0;

            @media screen and (max-width: 450px) {
                font-size: 24px;
            }

    }

        .hat-man-subtitle {
            @include robotoFont($weight: 400, $height: 132%, $align: start, $color: $blackcolor);
            margin: 20px 0;
            letter-spacing: -0.09px;

            @media screen and (max-width: 1220px) {
                letter-spacing: 0;
            }

            @media screen and (max-width: 450px) {
                font-size: 16px;
                line-height: 130%;
                margin: 10px 0;
            }

        }

        .hat-man-text-title {
            @include robotoFont($size: 24px, $align: start, $color: $blackcolor);
            font-size: 24px;
            line-height: 120%;
            margin: 54px 0 0;

            @media screen and (max-width: 800px) {
                margin: 30px 0 20px;
            }

            @media screen and (max-width: 450px) {
                margin: 20px 0 10px;
            }
        }

        .hat-man-main-text {
            @include robotoFont($height: 140%, $align: start, $color: $blackcolor);
            margin: 34px 0 0;

            @media screen and (max-width: 1220px) {
                letter-spacing: 0;
            }

            @media screen and (max-width: 800px) {
                margin: 20px 0 80px;
            }

            @media screen and (max-width: 450px) {
                margin: 10px 0 40px;
            }

        }

    }

}

.carousel-container {
    width: 100%;
    position: relative;
}

// .carousel-wrapper {
//     position: relative;
// }


// .carousel-wrap {
//     .carousel-section {
//         background-color: #333B41;
//         height: 100px;
//         width: 100px;
//     }
// }

.carousel {
    position: relative;
    max-width: 1220px;
}

.swiper {
   max-width: 1220px;
   margin: 0 auto;

    @media screen and (max-width: 1220px) {
        max-width: 945px;
    }

    @media screen and (max-width: 990px) {
        max-width: 765px;
    }

    @media screen and (max-width: 800px) {
        max-width: 600px;
    }

        .swiper-slide {
        box-sizing: border-box;
        width: 100%;
        @include flexbox($direction: row);
        row-gap: 20px;
        column-gap: 29px;
        position: relative;

        @media  screen and (max-width: 1500px) {
        row-gap: 92px;
        column-gap: 24.5px;
        transition: all 0.5 linear;
    }

    @media  screen and (max-width: 800px) {
        column-gap: 3.5%;
    }

    @media  screen and (max-width: 630px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 1388px;
        row-gap: 20px;
        flex-wrap: nowrap;
    }

}
   }

// .carousel-section {

//     @media  screen and (max-width: 450px) {
//         margin-bottom: 20px;
//     }
// }


.flower-right {
    width: 368px;
    height:275px;
    position: absolute;
    bottom: -100px;
    z-index: -1;
    right: 0;
    background-image: url("./../../assets/strelitzia.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1500px) {
        width: 241px;
        height: 180px;
        background-size: cover;
    }

    @media screen and (max-width: 1220px) {
        bottom: -140px;
        width: 241px;
        height: 180px;
        background-size: cover;
    }

    @media screen and (max-width: 800px) {
        bottom: -100px;
        width: 175px;
        height: 131px;
    }

    @media screen and (max-width: 630px) {
        width: 120px;
        height: 110px;
    }

    @media screen and (max-width: 450px) {
        bottom: -65px;
        width: 68px;
        height: 71px;
    }
}

.flower-left {
    width: 290px;
    height:460px;
    position: absolute;
    bottom: -100px;
    z-index: -1;
    left: 0;
    background-image: url("./../../assets/palm_foto.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1500px) {
        width: 195px;
        height: 202px;
        background-image: url("./../../assets/palm_foto1220.png");
        background-size: cover;
    }

    @media screen and (max-width: 1220px) {
        bottom: -140px;
    }

    @media screen and (max-width: 800px) {
        bottom: -100px;
        left: -60px;
        width: 195px;
        height: 202px;
        background-size: cover;
    }

    @media screen and (max-width: 630px) {
        width: 165px;
        height: 182px;
    }

    @media screen and (max-width: 450px) {
        bottom: -60px;
        left: -10px;
        width: 60px;
        height: 72px;
    }
}

.carousel-item {
    position: relative;
    width:366px;
    height: 426px;
    border-radius: 5px;
    box-sizing: border-box;
    @include flexbox($direction: column, $main: flex-start);
    overflow: hidden;

    @media  screen and (max-width: 1220px) {
        width:294px;
        height: 354px;
    }

    @media  screen and (max-width: 990px) {
        width:285px;
        height: 332px;
    }


    &:hover .animal-image {
        transform: scale(1.05);
        filter: brightness(65%);
    }

    &:hover div.animal-name {
        position: absolute;
        bottom: 20%;
        color:white;
    }

    &:hover div.animal-place {
        position: absolute;
        bottom: 15%;
        color:rgba(255, 255, 255, 0.733);
    }
}

.carousel-item-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background: $orangeGradient;
    padding: 1px;
}

.animal-image {
    width: 100%;
    height: 365px;
    transition: all 0.5s linear;

    @media  screen and (max-width: 1220px) {
        height:294px;
    }

    @media  screen and (max-width: 990px) {
        height:285px;
    }
}

.animal-caption {
    width: 100%;
    height: 59px;
    @include flexbox($main: space-between);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @media  screen and (max-width: 1220px) {
    height: 58px;
    }

    @media  screen and (max-width: 990px) {
    height: 45px;
    }
}

.animal-caption-block {
    padding-left: 15px;
    @include flexbox($direction:column, $cross: flex-start, $main: center);

    @media  screen and (max-width: 800px) {
        padding-left: 12.47px;
        padding-bottom: 4px;
    }
}

.animal-name {
    @include robotoFont($weight: 500, $height: 140%, $align: start, $color: $blackcolor);
    text-transform: uppercase;
    letter-spacing: -0.05px;
    transition: all 0.5s linear;

    @media  screen and (max-width: 800px) {
        font-size: 12.47px;
        line-height: 17.46px;
    }
}

.animal-place {
    @include robotoFont($weight: 300, $size: 15px, $align: start, $color: $blackcolor);
    transition: all 0.5s linear;

    @media  screen and (max-width: 800px) {
        font-size: 11.69px;
        line-height: 14.03px;
    }
}

.animal-icon {
    width: 59px;
    height: 100%;

    @media  screen and (max-width: 800px) {
        width: 25.72px;
        margin-right: 9.2px;
    }
}

.panda {
    .animal-image {
        background-image: url(./../../assets/panda.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .animal-icon {
        background-image: url(./../../assets/banana-bamboo_icon.png);
        background-repeat: no-repeat;
        background-position: center;

    @media  screen and (max-width: 800px) {
        background-size: contain;
    }
    }
}

.eagle {
    .animal-image {
        background-image: url(./../../assets/eagle.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .animal-icon {
        background-image: url(./../../assets/meet-fish_icon.png);
        background-repeat: no-repeat;
        background-position: center;

        @media  screen and (max-width: 800px) {
            background-size: contain;
        }

        @media  screen and (max-width: 630px) {
            width: 37.41px;
            height: 29.62px;
        }
    }
}

.gorilla {
    .animal-image {
        background-image: url(./../../assets/gorilla.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .animal-icon {
        background-image: url(./../../assets/banana-bamboo_icon.png);
        background-repeat: no-repeat;
        background-position: center;

        @media  screen and (max-width: 800px) {
            background-size: contain;
        }
    }
}

.sloth {
    .animal-image {
        background-image: url(./../../assets/sloth.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .animal-icon {
        background-image: url(./../../assets/banana-bamboo_icon.png);
        background-repeat: no-repeat;
        background-position: center;

        @media  screen and (max-width: 800px) {
            background-size: contain;
        }
    }
}

.cheetah {
    .animal-image {
        background-image: url(./../../assets/cheetah.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .animal-icon {
        background-image: url(./../../assets/meet-fish_icon.png);
        background-repeat: no-repeat;
        background-position: center;

        @media  screen and (max-width: 800px) {
            background-size: contain;
        }

        @media  screen and (max-width: 630px) {
            width: 37.41px;
            height: 29.62px;
        }
    }

    @media  screen and (max-width: 630px) {
        display: none;
    }

}

.penguin {
    .animal-image {
        background-image: url(./../../assets/penguin.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

            .animal-icon {
        background-image: url(./../../assets/meet-fish_icon.png);
        background-repeat: no-repeat;
        background-position: center;

        @media  screen and (max-width: 800px) {
            background-size: contain;
        }

        @media  screen and (max-width: 630px) {
            width: 37.41px;
            height: 29.62px;
        }
    }

    @media  screen and (max-width: 630px) {
        display: none;
    }

}

.alligator {
    .animal-image {
        background-image: url(./../../assets/alligator.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .animal-icon {
        background-image: url(./../../assets/meet-fish_icon.png);
        background-repeat: no-repeat;
        background-position: center;

        @media  screen and (max-width: 800px) {
            background-size: contain;
        }

        @media  screen and (max-width: 630px) {
            width: 37.41px;
            height: 29.62px;
        }
    }
}

.smaller-gorilla {
    .animal-image {
        background-image: url(./../../assets/gorillas.png);
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .animal-icon {
        background-image: url(./../../assets/banana-bamboo_icon.png);
        background-repeat: no-repeat;
        background-position: center;

        @media  screen and (max-width: 800px) {
            background-size: contain;
        }
    }

    @media  screen and (max-width: 630px) {
        display: none;
    }

}

.hidden {
    @media  screen and (max-width: 990px) {
        display: none;
    }

}

.arrow {
    width: 62px;
    height: 62px;
    background: $orangecolor;
    border-radius: 50%;
    transition: all 0.5 linear;
    @include flexbox();
    z-index: 10;
    border: none;
    pointer-events: visible;

    @media  screen and (max-width: 630px) {
        display: none;
    }

        &:hover {
        cursor: pointer;
        background: $darkorangecolor;
    }

    &:active {
        background: $greencolor;
    }

    &:disabled {
        pointer-events: none;
        background:rgba(196, 196, 196, 0.5);
    }
}

.arrow-left {
    position: absolute;
    top: 46%;
    left: -80px;

        @media  screen and (max-width: 1500px) {
            top: 46%;
            left: 25%;
            transition: all 0.5 linear;
        }

        @media  screen and (max-width: 1220px) {
            top: 46%;
            left: 34.5%;
        }

        @media  screen and (max-width: 800px) {
            top: 45.5%;
            left: 37.5%;
        }

}

.arrow-right {
    position: absolute;
    top: 46%;
    right: -80px;

        @media  screen and (max-width: 1500px) {
            top: 46%;
            right: 25%;
            transition: all 0.5 linear;
        }

        @media  screen and (max-width: 1220px) {
            top: 46%;
            right: 34.5%;
        }

        @media  screen and (max-width: 800px) {
            top: 45.5%;
            right: 37.5%;
            transition: all 0.5 linear;
        }

}

.choose-button {
    @include button();
    margin: 80px auto 100px;

    @media  screen and (max-width: 1220px) {
        margin-bottom: 140px;
    }

    @media  screen and (max-width: 800px) {
        margin: 60px auto 100px;
    }

    @media  screen and (max-width: 450px) {
        margin: 20px auto 60px;
    }
}

.section4-container {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.section4-container-wrapper {
    position: relative;
    @include flexbox($direction: column, $cross: stretch);
}

    .section4-container-wrapper.wrapper {
    @media  screen and (max-width: 800px) {
        padding: 0;
    }

    @media  screen and (max-width: 450px) {
        padding: 0 10px;
    }

}

.section4 {
    margin: 69px 0px 100px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    @media screen and (max-width: 1220px) {
        margin: 30px 0px 50px;
    }

    @media screen and (max-width: 990px) {
        padding: 10px 20px 60px;
    }
    @media screen and (max-width: 800px) {
        width: 100%;
        padding: 10px 0 0;
        margin: 20px 0px 20px;
    }

    @media screen and (max-width: 450px) {
        padding: 20px 0 0;
    }


}

.section4-title {
    @include robotoFont($size: 48px, $color: #FE9013);
    margin-bottom: 30px;

    @media screen and (max-width: 1220px) {
        margin: 30px auto 20px;
    }

    @media screen and (max-width: 990px) {
        margin: 0 auto 20px;
    }

    @media screen and (max-width: 800px) {
        font-size: 42px;
    }

    @media screen and (max-width: 450px) {
        font-size: 24px;
        margin: 0 auto 10px;
    }
}

.section4-subtitle {
    @include robotoFont($size: 24px, $align: start, $color: $blackcolor);
    padding: 0 0 0 99px;

    @media screen and (max-width: 1220px) {
        padding: 0 0 0 49px;
        margin: 20px auto;
    }

    @media screen and (max-width: 990px) {
        padding: 0;
        margin: 20px auto;
    }

    @media screen and (max-width: 800px) {
        margin: 20px;
        font-size: 22px;
    }

    @media screen and (max-width: 630px) {
        text-align: center;
    }

    @media screen and (max-width: 450px) {
        font-size: 18px;
        margin: 10px 0px 20px;
    }
}

.section4-text-level1 {
    padding: 0 0 0 99px;
    margin: 40px 0 0 0;
    @include robotoFont($weight: 500, $height: 130%, $align: start, $color: $blackcolor);

    @media screen and (max-width: 1220px) {
        margin: 20px auto 12px;
        padding: 0 100px 0 49px;
    }

    @media screen and (max-width: 990px) {
        padding: 0;
        margin: 20px auto 10px;
    }

    @media screen and (max-width: 800px) {
        margin: 20px 20px 10px;
        font-size: 16px;
    }

    @media screen and (max-width: 630px) {
        display: none;
    }
}

.section4-text-level2 {
    padding: 0 198px 0 99px;
    margin: 12px 0 0 0;
    @include robotoFont($height: 130%, $align: start, $color: $blackcolor);

    @media screen and (max-width: 1220px) {
        padding: 0 68px 0 49px;
    }

    @media screen and (max-width: 990px) {
        padding: 0;
        margin: 10px auto 30px;
    }

    @media screen and (max-width: 800px) {
        margin: 10px 20px;
        font-size: 16px;
    }

    @media screen and (max-width: 630px) {
        display: none;
    }
}

.emergency-fund {
    color: $blackcolor;
    text-decoration: none;
    border-bottom: 1px solid #FE9013;
    padding-bottom: 3px;

    &:hover {
        color: rgba(0, 0, 0, 0.568);
    }
}

.section4-title2 {
    margin-top: 60px;
    @include robotoFont($height: 130%, $size: 36px, $color: $blackcolor);

    @media screen and (max-width: 1220px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 800px) {
        margin: 30px 20px 20px;
    }

    @media screen and (max-width: 450px) {
        margin: 20px;
        font-size: 24px;
    }
}

.how-it-works-section {
    margin: 40px 65px;
    position: relative;
    @include flexbox($main: space-evenly);

    @media screen and (max-width: 1220px) {
        max-width: 764px;
        @include flexbox($main: space-between);
        margin: 40px auto;
    }

    @media screen and (max-width: 990px) {
        max-width: auto;
        @include flexbox($wrap: nowrap, $main: center);
        margin: 40px auto;
        gap: 78px;
    }

    @media screen and (max-width: 990px) {
        gap: 42px;
    }

    @media screen and (max-width: 800px) {
        margin: 20px 32px 20px 20px;
        gap: 42px;
    }

    @media screen and (max-width: 630px) {
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 450px) {
        justify-content: flex-end;
        margin: 0 auto;
        gap: 25px;
    }
}

.how-it-works-item {
    width: 168px;
    height: 244px;
    @include flexbox($direction: column, $main: flex-start);
    position: relative;
    z-index: -1;

    @media screen and (max-width: 630px) {
        height: 231px;
    }

    @media screen and (max-width: 450px) {
        height: auto;
    }
}

.work-item-image {
    width: 100%;
    height: 168px;
    padding: 1px;
    border-radius: 5px;
    box-sizing: border-box;
    background: $orangeGradient;
    position: relative;
    z-index: -1;
}

.work-item-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    @include flexbox();
}

.work-item-caption {
    @include flexbox($main: flex-start, $cross: flex-start);
    align-self: flex-start;
    @include robotoFont($height: 140%, $align: start, $color: $blackcolor);
    margin-top: 30px;

    @media screen and (max-width: 630px) {
        margin-top: 10px;
    }

    @media screen and (max-width: 450px) {
        margin: 10px 0;
    }
}

.work-item3::before, .work-item2::before {
    position: absolute;
    left: -61%;
    margin: 59px 0;
    content: url("./../../assets/arrow.png");

    @media screen and (max-width: 1220px) {
        margin: 62px 0;
        left: -60%;
    }

    @media screen and (max-width: 990px) {
        content: url("./../../assets/arrow_mobile.png");
        top: -35%;
        left: -50%;
        position: absolute;
        z-index: 5;
    }

    @media screen and (max-width: 800px) {
        left: -45%;
        top: -33%;
    }

    @media screen and (max-width: 630px) {
        transform: rotate(90deg);
        right: -55%;
        bottom: -5%;
    }

    @media screen and (max-width: 450px) {
        width: 70px;
        height: 70px;
        transform: rotate(90deg);
        left: 76%;
        top: -60%;
    }
}

.work-item1, .work-item2 {
    position: relative;
    z-index: -1;
}

.feed-button {
    display: block;
    @include button();
    margin: 60px auto;
    text-decoration: none;

    @media screen and (max-width: 1220px) {
    margin: 70px auto 50px;
    }

    @media screen and (max-width: 990px) {
    margin: 70px auto 0px;
    }

    @media screen and (max-width: 800px) {
    margin: 40px auto 60px;
    }

    @media screen and (max-width: 450px) {
    margin: 25px auto 40px;
    }
}

.leaf-element {
    background-image: url("./../../assets/leav_foto.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    right: 0;
    bottom: -14.5%;
    width: 200px;
    height: 400px;

    @media screen and (max-width: 1220px) {
        width: 200px;
        height: 300px;
        background-size: cover;
        bottom: -14.5%;
    }

    @media screen and (max-width: 800px) {
        width: 70px;
        height: 200px;
        background-size: cover;
        bottom: -10%;
        right: -7px;
    }

    @media screen and (max-width: 450px) {
        width: 40px;
        height: 100px;
        background-size: cover;
        bottom: -5.5%;
        right: -7px;
        transform: rotate(-15deg);
    }
}

.section5-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.section5-container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    .wrapper {
        overflow: hidden;
    }

    @media screen and (max-width: 1220px) {
        max-width: 1000px;
    }
}

.section5-title {
    @include robotoFont($height: 130%, $size: 36px, $color: $blackcolor);
    margin: 140px auto 47px;

    @media screen and (max-width: 1220px) {
        margin: 100px auto 30px;
    }

    @media screen and (max-width: 990px) {
        margin: 60px auto 30px;
    }

    @media screen and (max-width: 450px) {
        margin: 30px auto 20px;
        font-size: 24px;
    }
}

.testimonials-section {
    position: relative;
    overflow: hidden;
    overflow-y: visible;
    box-sizing: border-box;

    @media screen and (max-width: 1220px) {
        width: 937px;
        margin-bottom:  0 auto 20px;
    }

    @media screen and (max-width: 990px) {
        max-width: 602px;
        margin: 0 auto;
    }

    @media screen and (max-width: 630px) {
        width: 100%;
    }
}

.testimonials-wrapper {
    width: 100%;
    @include flexbox($main: flex-start, $wrap: nowrap);
    margin: 0 auto;
    margin-bottom: 21px;


    @media screen and (max-width: 990px) {
        @include flexbox($direction: column, $main: center, $cross:space-between, $wrap: nowrap);
        max-width: 600px;
        row-gap: 15px;
    }

    @media screen and (max-width: 800px) {
        justify-content: flex-start;
        max-width: 600px;
        height: 357px;
        row-gap: 16px;
    }

    @media screen and (max-width: 630px) {
        width: 100%;
    }
}

.testimonial-border {
    box-sizing: border-box;
    @include flexbox();
    padding: 0 2px;
    width: 268px;
    height: 391px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
// linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

    @media screen and (max-width: 1220px) {
        box-sizing: border-box;
        width: 292px;
    }

    @media screen and (max-width: 990px) {
        padding: 0;
        width: 600px;
        height: 109px;
        @include flexbox();
        background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    }

    @media screen and (max-width: 800px) {
        max-width: 100%;
    }
}

.testimonial-hdden {
    @media screen and (max-width: 990px) {
        display: none;
    }
}

.testimonial {
    box-sizing: border-box;
    position: relative;
    width: 264px;
    height: 387px;
    margin: 2px auto;
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15px 15px 19px 16px;

    @media screen and (max-width: 1220px) {
        width: 289px;
        padding: 13px 15px 19px 15px;
    }

    @media screen and (max-width: 990px) {
        margin: 1px 0px;
        width: 596px;
        height: 105px;
        padding: 0;
    }

    @media screen and (max-width: 800px) {
        width: 99.5%;
    }
}

.testimonial-header {
    width: 100%;
    height: 37px;
    @include flexbox($main: flex-start, $cross: flex-start);

    @media screen and (max-width: 990px) {
        margin: 15px 29px 11px 12px;
        width: 95%;
    }

    @media screen and (max-width: 800px) {
        margin: 14px 29px 11px 11px;
    }

    @media screen and (max-width: 450px) {
        margin: 10px 29px 10px 12px;
    }
}

.testimonial-icon {
    width: 37px;
    height: 37px;
}

    .icon1 {
        background-image: url(./../../assets/user_icon.png);
    }

    .icon2 {
        background-image: url(./../../assets/user_icon2.png);
    }

    .icon3 {
        background-image: url(./../../assets/user_icon3.png);
    }

    .icon4 {
        background-image: url(./../../assets/user_icon4.png);
    }

.username {
    margin-left: 10px;
    @include robotoFont($align: start, $color: $blackcolor);

    @media screen and (max-width: 450px) {
        margin-left: 6px;
    }
}

.extra-info {
    margin-left: 10px;
    @include robotoFont($weight: 300, $size: 15px, $align: start, $color: #BDBDBD);

    @media screen and (max-width: 450px) {
        margin-left: 6px;
    }
}

.testimonial-text {
    box-sizing: border-box;
    margin-top: 11px;
    margin-bottom: 19px;
    width: 100%;
    height: 290px;
    @include robotoFont($weight: 300, $size: 15px, $align: start, $color: #767474);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 1220px) {
        margin-bottom: 19px;
    }

    @media screen and (max-width: 990px) {
        box-sizing: border-box;
        width: 95%;
        height: 38px;
        margin: 0px 29px 0px 18px;
        margin-bottom: 25px;
    }

    @media screen and (max-width: 450px) {
        width: 90%;
        margin: 0px 29px 0px 18px;
    }
}

.positioner-border {
    @include flexbox();
    box-sizing: border-box;
    height: 8px;
    width: 52%;
    margin: 0 auto 31px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
    border-radius: 5px;

    @media screen and (max-width: 1220px) {
        width: 390px;
        margin: 0 auto 52px;
    }

    @media screen and (max-width: 990px) {
        display: none;
    }

    .positioner {

        height: 6px;
        width: 99.7%;
        margin: auto;
        background: #F5F7F6;
        border-radius: 5px;
        cursor: pointer;

        &:active {
            opacity: 0.7;
        }

        .inner-positioner {
            height: 100%;
            width: 19.5%;
            background: #FE9013;
            border-radius: 5px;
        }
    }
}

.feedback-button, .donate-button {
        position: relative;
        @include button();
        border-radius: 5px;
        margin-bottom: 180px;

        @media screen and (max-width: 1220px) {
            margin-bottom: 140px;
        }

        @media screen and (max-width: 990px) {
            margin: 0px auto 140px;
        }
    }

.feedback-button {
    @media screen and (max-width: 800px) {
        width: 240px;
        margin: 40px auto 80px;
    }

    @media screen and (max-width: 450px) {
        width: 240px;
        margin: 30px auto 60px;
    }
}

.footer-wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(10, 1fr);

    @media screen and (max-width: 800px) {
        grid-template-rows: repeat(6, 1fr);
    }

    @media screen and (max-width: 450px) {
        max-width: 300px;
    }

    .logo-footer {
        margin: 0;
        grid-row: 1 / span 2;
        grid-column: 1;

        @media screen and (max-width: 450px) {
            grid-row: 1;
            place-self: start center;
        }
}

    .donate-button {
        text-decoration: none;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 101px;
        grid-row: 4 / span 2;
        grid-column: 1 / span 5;

        @media screen and (max-width: 1220px) {
            margin-top: 14px;
        }

        @media screen and (max-width: 990px) {
            margin: 10px 0px 0px;
        }

        @media screen and (max-width: 800px) {
            grid-row: 2 / span 3;
            margin: 0 0 10px;
            place-self: center start;
        }

        @media screen and (max-width: 450px) {
            grid-row: 3 / span 2;
            grid-column: 1;
            place-self: start center;
            margin-top: 10px;
        }
    }
}

.footer-container {
    .logo-container {
            border: 0.5px solid rgba(255, 255, 255, 0.5);

            @media screen and (max-width: 450px) {
                width: 128px;
                height: 23px;
                padding: 0;
                border: none;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(1, 1fr);

                .logo {
                    grid-row: 1;
                    grid-column: 1 / 11;
                }

                .bamboo {
                    grid-row: 1;
                    grid-column: 7;
                    margin: 0;
                    margin-right: 7px;
                }
            }
        }
}

.subscription-section {
    @include flexbox($direction: column, $main: flex-start, $cross: flex-start);
    height: 85px;
    grid-row: 1 / span 4;
    grid-column: 15 / span 5;
    place-self: start end;
    margin-left: 15px;

    @media screen and (max-width: 1220px) {
        margin-top: 5px;
        margin-right: 32px;
    }

    @media screen and (max-width: 990px) {
        grid-column: 7 / 14;
        margin-right: 0;
        place-self: start end;
    }

    @media screen and (max-width: 800px) {
        display: none;
    }


    .subscription-title {
        @include robotoFont($size:24px, $align: start);
    }

    .subscription-form {
        @include flexbox($main: flex-start, $cross: flex-start, $wrap: nowrap);
        margin-top: 14px;

        input[type="email"] {
            box-sizing: border-box;
            width: 228px;
            height: 42px;
            border-radius: 2px;
            background-color: #000000;
            @include robotoFont($height: 140%, $align: start, $color: #bdbdbd);
            border: 0.7px solid $orangecolor;
            padding: 10px;

            &:focus:valid {
                outline: none;
                border: 0.7px solid #4B9200;
                color: #4B9200;
            }

            &:focus:valid + input[type="submit"] {
                border-color: #4B9200;
                color: #4B9200;
            }

            &:focus:invalid {
                outline: none;
                color: #D31414;
                border-color: #D31414;
            }

            &:focus:invalid + input[type="submit"] {
                border: 1px solid #D31414;
                color: #D31414;
            }
        }

        input[type="submit"] {
            width: 129px;
            height: 42px;
            margin-left: 10px;
            background: #F1F3F2;
            border: 1px solid #333B41;
            border-radius: 5px;
            @include robotoFont($height: 140%, $color: #333B41);

            &:hover, &:active {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.801);
        }
        }
}
}


.networks-section {
    @include flexbox($direction: column, $main: flex-start, $cross: flex-start);
    grid-row: 7 / span 4;
    grid-column: 1;
    margin: 2px 0;

    @media screen and (max-width:800px) {
        grid-row: 1 / 5;
        grid-column: 13 / span 1;
    }

    @media screen and (max-width:630px) {
        flex-direction: column;
        grid-row: 1 / 5;
        grid-column: 13 / span 1;
    }

    @media screen and (max-width:450px) {
        place-self: start center;
        flex-direction: row;
        grid-row: 2;
        grid-column: 1;
        gap: 30px;
    }


    .network {
        @include robotoFont($height: 140%, $align: start);
        text-decoration: none;
        display: flex;
        column-gap: 10px;
        padding-bottom: 10px;
        align-items: center;

        @media screen and (max-width:1220px) {
            gap: 12px;
        }

        @media screen and (max-width:800px) {
            place-self: end start;
            padding-bottom: 20px;
        }

    &:hover {
            color: $darkorange;
        }

    &:hover .network-icon {
        background-color: $darkorange;
    }

    &:active {
        color: $green;
    }

    &:active .network-icon {
        background-color: $green;
    }
    }

    .network-icon {
        border-radius: 50%;
        width:26px;
        height: 26px;
        background-color: rgba(196, 196, 196, 0.5);
        @include flexbox();
    }

    .network-name {
        @media screen and (max-width: 800px) {
            display: none;
        }
    }

}

.navigation-footer {
    margin-right: 19px;
    grid-column: 5 / 16;
    grid-row: 10;
    height: 30px;
    align-self: start;
    justify-self: center;

    @include robotoFont($height: 140%, $size: 16px, $align: start, $color: $blackcolor);

    .navigation-list {
        margin: 0;
    }

    @media screen and (max-width: 1220px) {
        margin-right: 0px;
        margin-left: 27px;
        grid-column: 4 / 17;
        place-self: start;
    }

    @media screen and (max-width: 990px) {
        margin-right: 0px;
        margin-left: 25px;
        grid-column: 2 / 10;
        place-self: center end;
    }

    @media screen and (max-width: 800px) {
        margin-right: 0px;
        margin-left: 0px;
        grid-row: 6 / 7;
        grid-column: 1 / 8;
        place-self: start;
    }

    @media screen and (max-width: 450px) {
        margin-right: 0px;
        margin-left: 0px;
        grid-row: 6;
        grid-column: 1;
        place-self: end center;
    }

}

.created {
    grid-column: 17 / span 3;
    grid-row: -3 / span 2;
    @include robotoFont($weight: 100, $height: 190%, $align: start);
    place-self: center end;

    @media screen and (max-width:1220px) {
            place-self: center end;
            padding-left: 25px;
    }

    @media screen and (max-width:990px) {
        grid-column: 10 / span 4;
    }

    @media screen and (max-width:800px) {
        grid-column: 10 / span 4;
        grid-row: 5 / span 2;
    }

    @media screen and (max-width:630px) {
        grid-column: 1 / span 4;
        grid-row: 4 / span 2;
        place-self: center start;
        padding-left: 0;
    }

    @media screen and (max-width:450px) {
        margin-top: 0px;
        grid-column: 1;
        grid-row: 4 / span 2;
        place-self: end;
    }
}

// .header-wrapper {
//     @media screen and (min-width: 801px) {
//         display: none;
//     }

//     @media screen and (max-width: 800px) {
//         background-color: white;
//     }
// }

.mobile-header {
        display: none;

    @media screen and (max-width: 800px) {
        width: 100%;
        display: block;
        position: fixed;
        z-index: 20;
    }
}

.burger-icon {
    @media screen and (max-width: 800px) {
            display: inline-block;
            right: 13px;
            top: 11px;
            position: fixed;
            z-index: 110;
            cursor: pointer;

        .burger-element, .burger-element, .burger-element {
          width: 18px;
          height: 2px;
          border: none;
          background-color: white;
          margin: 2px 0;
          transition: 0.4s;
        }
    }
}

.open {
    z-index: 111;
    cursor: pointer;
    .burger-element:nth-child(2) {
        opacity: 0;
    }

    .burger-element:first-child {
        background-color: black;
        transform: translate(0, 5px) rotate(-45deg);
    }

    .burger-element:last-child {
        background-color: black;
        transform: translate(0, -3px) rotate(45deg);
    }
}


.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    z-index: -1;
}

.overlay-visible {
    position: absolute;
    background-color: #00000083;
    z-index: 100;
    transition: all 0.4s;
}

.burger-menu {
    box-sizing: border-box;
    display: none;

    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        background-color: white;
        padding: 10px;
        z-index: 101;
        transition: all 0.5s ease-in-out;

        &__opened {
            top: 0;
            transform: translateY(0);
        }

        .navigation-container {
            display: flex;

            .navigation {
                .navigation-list {
                    margin: 30.4px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 15px;

                    li {
                        a {
                            color: black;
                            line-height: 140%;
                        }
                    }
                }
            }
        }
    }

    .logo-container {
        border: 1px solid $orangecolor;
        box-sizing: border-box;
        width: 65.6px;
        height: 41.6px;
        padding: 1.9px;
        margin: 0;

        .logo {
            color: $orangecolor;
            font-size: 15.21px;
        }

        .bamboo {
            background-image: url("./../../assets/bamboo_orange.svg");
        }
    }
}

.swiper-scrollbar-drag {
    background-color: $orangecolor;
}

.testimonial-popover {
    width: 320px;
    box-sizing: border-box;
    padding: 20px 36px 17px 17px;
    z-index: 100;
    position: absolute;
    left: -150%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: left 1s ease-in-out;

    .testimonial-border {
        width: 100%;
        height: calc(100% + 2px);
    }

    .testimonial {
        width: calc(100% - 4px);
        z-index: 102;
        background: white;
        position: relative;
        height: calc(100% - 4px);

        .testimonial-text {
            height: auto;
            width: auto;
        }
    }
}

.testimonial-popover__opened {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popover-crossicon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;

    .crossicon-element {
        width: 14px;
        height: 1px;
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

        &:first-child {
            transform: translate(0, 6px) rotate(-45deg);
        }

        &:last-child {
            transform: translate(0, 5px) rotate(45deg);
        }
    }
}